# Python/Django environment files
*.pyc
*.pyo
__pycache__/
.env

# Virtual Environment
venv/
env/
ENV/

# Node environment files
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Compiled files
dist/
build/
*.log

# Editor/IDE
.vscode/
.idea/

# Miscellaneous
*.sqlite3
*.bak
*.swp
.DS_Store
